*.DS_Store
.AppleDouble
.LSOverride
Icon
i
_*
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/
.vagrant/
.build/
vendor
k8s-global-objects*
/overalls.coverprofile
/k8s-global-objects.cover
*.coverprofile
*.gor
/projectFilesBackup/